<!-- Header Partial -->
<%- include("../../partials/_header.ejs", { title: "Fixtures and Results Page",
pageStyle: "fixtures-results", pageStylePath: "secondary" }) %>

<!-- HTML page content -->
<div class="fixtures-container">
  <p>Fixtures and Results Page</p>
</div>

<!-- Common Scripts Import -->
<%- include("../../partials/_scripts.ejs", { scriptsPath: "secondary" }) %>
