<!-- HTML page content -->
<p>Fixtures and Results Page</p>
<!-- JavaScript Imports -->
<script src="../js/common.js"></script>
<script src="../js/distribution.js"></script>
<script src="../js/utilities.js"></script>
