<!-- Header Partial -->
<%- include("../../partials/_header.ejs", { title: "League Tables Page",
pageStyle: "league-tables", pageStylePath: "secondary" }) %>

<!-- HTML page content -->
<div class="container">
  <!-- First Navbar Import -->
  <%- include("../../partials/_firstNavbar.ejs") %>

  <!-- Main Navbar Import -->
  <%- include("../../partials/_mainNavbar.ejs") %>
</div>

<!-- Common Scripts Import -->
<%- include("../../partials/_scripts.ejs", { scriptsPath: "secondary" }) %>
