<!-- Header Partial -->
<%- include("../../partials/_header.ejs", { title: "League Tables Page",
pageStyle: "league-tables", pageStylePath: "secondary" }) %>

<!-- HTML page content -->
<p>League Tables Page</p>
<!-- JavaScript Imports -->
<script src="../js/common.js"></script>
<script src="../js/distribution.js"></script>
<script src="../js/utilities.js"></script>
