<!-- Header Partial -->
<%- include("../../partials/_header.ejs", { title: "League Tables Page",
pageStyle: "league-tables", pageStylePath: "secondary" }) %>

<!-- HTML page content -->
<p>League Tables Page</p>

<!-- Common Scripts Import -->
<%- include("../../partials/_scripts.ejs", { scriptsPath: "secondary" }) %>
