<!-- Header Partial -->
<%- include("../../partials/_header.ejs", { title: "Players and Staff Page",
pageStyle: "players-staff", pageStylePath: "secondary" }) %>

<!-- HTML page content -->
<p>Players and Staff Page</p>

<!-- Common Scripts Import -->
<%- include("../../partials/_scripts.ejs", { scriptsPath: "secondary" }) %>
