<!-- Header Partial -->
<%- include("../../partials/_header.ejs", { title: "Players and Staff Page",
pageStyle: "players-staff", pageStylePath: "secondary" }) %>

<!-- HTML page content -->
<p>Players and Staff Page</p>
<!-- JavaScript Imports -->
<script src="../js/common.js"></script>
<script src="../js/distribution.js"></script>
<script src="../js/utilities.js"></script>
