<!-- Header Partial -->
<%- include("../../partials/_header.ejs", { title: "Membership Page", pageStyle:
"membership", pageStylePath: "secondary" }) %>

<!-- HTML page content -->
<p>Membership Page</p>

<!-- Common Scripts Import -->
<%- include("../../partials/_scripts.ejs", { scriptsPath: "secondary" }) %>
