<!-- Header Partial -->
<%- include("../../partials/_header.ejs", { title: "Season Tickets Page",
pageStyle: "season-tickets", pageStylePath: "secondary" }) %>

<!-- HTML page content -->
<p>Season Tickets Page</p>

<!-- Common Scripts Import -->
<%- include("../../partials/_scripts.ejs", { scriptsPath: "secondary" }) %>
