<!-- Header Partial -->
<%- include("../../partials/_header.ejs", { title: "Tickets Page", pageStyle:
"tickets", pageStylePath: "secondary" }) %>

<!-- HTML page content -->
<p>Tickets Page</p>

<!-- Common Scripts Import -->
<%- include("../../partials/_scripts.ejs", { scriptsPath: "secondary" }) %>
