<!-- First Navbar -->
<div class="first-navbar__container">
  <div class="first-navbar__content">
    <!-- First Navbar sponsors -->
    <img
      class="first-navbar__image"
      src="../img/sponsors/e-payel.png"
      alt="Subiro Logo"
    />
    <img
      class="first-navbar__image"
      src="../img/sponsors/shalbourne.png"
      alt="Subiro Logo"
    />
    <img
      class="first-navbar__image"
      src="../img/sponsors/subiro.png"
      alt="Subiro Logo"
    />
    <img
      class="first-navbar__image"
      src="../img/sponsors/ultramarine.png"
      alt="Subiro Logo"
    />
  </div>
</div>
