<!-- First Navbar -->
<div class="first-navbar__container">
  <div class="first-navbar__content">
    <!-- First Navbar sponsors -->
    <img class="first-navbar__image" src="../img/sponsors/e-payel.png" />
    <img class="first-navbar__image" src="../img/sponsors/shalbourne.png" />
    <img class="first-navbar__image" src="../img/sponsors/subiro.png" />
    <img class="first-navbar__image" src="../img/sponsors/ultramarine.png" />
    <img class="first-navbar__image" src="../img/sponsors/foliole.png" />
  </div>
</div>
