<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= title %></title>
  <!-- CSS Imports -->
  <link rel="stylesheet" href="../scss/general/firstNavbar.css" />
  <link rel="stylesheet" href="../scss/general/footer.css" />
  <link rel="stylesheet" href="../scss/general/mainNavbar.css" />
  <link rel="stylesheet" href="../scss/general/typography.css" />
  <link rel="stylesheet" href="../scss/pages/<%= pageStyle %>.css" />
  <!-- Responsive CSS file at the bottom -->
  <link rel="stylesheet" href="../scss/general/responsive.css" />
  <!-- Google Font Import -->
  <!-- Favicon -->
  <link rel="icon" type="image/png" href="../img/logo/football-badge.png" />
</head>
