.first-navbar__container {
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns:
    [full-start] 10vw [content-start] minmax(6rem, 1fr) [center-start] repeat(
      8,
      [col-start] minmax(min-content, 14rem) [col-end]
    )
    [center-end] minmax(6rem, 1fr) [content-end] 10vw [full-end];
  background-size: 3px 3px;
  background-image: repeating-linear-gradient(
    -45deg,
    #fff 0,
    blue 1px,
    blue 0,
    #fff 50%
  );
}

.first-navbar__content {
  grid-column: col-start 5 / content-end;
  background-color: var(--grey);
  margin-bottom: 1rem;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 3% 100%, 0 75%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.first-navbar__link {
  padding: 0 3rem;
  text-decoration: none;
  color: white;
  font-size: 1.6rem;
}

.first-navbar__link:hover {
  scale: 1.1;
}
