<!-- Header Partial -->
<%- include("partials/_header.ejs", { title: "Contact Page", pageStyle:
"contact" }) %>

<!-- HTML page content -->
<div class="contact-container">
  <p>Contact Us Page</p>
</div>

<!-- Common Scripts Import -->
<%- include("partials/_scripts.ejs") %>
