<%- include("partials/header.ejs", { title: "Contact Page", pageStyle: "contact"
}) %>

<!-- HTML page content -->
<div class="contact-container">
  <p>Contact Us Page</p>
</div>
<!-- JavaScript Imports -->
<script src="../js/common.js"></script>
<script src="../js/distribution.js"></script>
<script src="../js/utilities.js"></script>
