<!-- Header Partial -->
<%- include("partials/_header.ejs", { title: "Home Page", pageStyle: "home",
pageStylePath: "main" }) %>

<!-- First Navbar -->
<div class="first-navbar__container">
  <div class="first-navbar__content">
    <a class="first-navbar__link" href="mailto:advanc3dprintingltd@gmail.com">
      <strong>
        <span>Email</span>
      </strong>
      <br />
      <span> advanc3dprintingltd@gmail.com</span>
    </a>
    <a class="first-navbar __link" href="tel:+447757905335">
      <strong>
        <span>Telephone</span>
      </strong>
      <br />
      <span>+44 (0)7757 905335</span>
    </a>
  </div>
</div>

<!-- Main Navbar -->
<div class="main-navbar__container" id="navbar-container">
  <div class="main-navbar__logo--container">
    <img
      src="../img/logo/football-badge.png"
      alt="Football Badge"
      class="main-navbar__logo"
      id="navbar-logo"
    />
    <span class="main-navbar__logo--text" id="navbar-logo__text">FC THG08</span>
  </div>
  <nav class="navbar">
    <ul>
      <li><a href="mainPages/home.html">Home</a></li>
      <li class="main-navbar__dropdown">
        <a href="mainPages/team.html">Team</a>
        <div class="main-navbar__dropdown--content">
          <a href="mainPages/fixtures&results.html">Fixtures & Results</a>
          <a href="mainPages/leagueTables.html">League Tables</a>
          <a href="mainPages/players&staff.html">Players & Staff</a>
        </div>
      </li>
      <li class="main-navbar__dropdown">
        <a href="secondaryPages/latestPages/latest.html">Latest</a>
        <div class="main-navbar__dropdown--content">
          <a href="secondaryPages/latestPages/discover.html">Discover</a>
          <a href="secondaryPages/latestPages/news.html">News</a>
        </div>
      </li>
      <li class="main-navbar__dropdown">
        <a href="mainPages/tickets&hospitality.html">Tickets & Hospitality</a>
        <div class="main-navbar__dropdown--content">
          <a href="mainPages/membership.html">Membership</a>
          <a href="mainPages/seasonTickets.html">Season Tickets</a>
          <a href="mainPages/tickets.html">Tickets</a>
        </div>
      </li>
      <li><a href="mainPages/contact.html">Contact</a></li>
    </ul>
  </nav>
</div>

<div class="home-container"><p>Home Page</p></div>

<!-- Common Scripts Import -->
<%- include("partials/_scripts.ejs") %>
<!-- Page Specific JavaScript -->
<script src="../js/pages/mainPages/home.js"></script>
