<%- include("partials/latest.ejs", { title: "Latest Page", pageStyle: "latest"
}) %>

<!-- HTML page content -->
<p>Latest Page</p>
<!-- JavaScript Imports -->
<script src="../js/common.js"></script>
<script src="../js/distribution.js"></script>
<script src="../js/utilities.js"></script>
<script src="../js/pages/mainPages/latest.js"></script>
