<!-- Header Partial -->
<%- include("partials/_header.ejs", { title: "Latest Page", pageStyle:
"latest"})%>

<!-- HTML page content -->
<div class="latest-container">
  <p>Latest Page</p>
</div>

<!-- Common Scripts Import -->
<%- include("partials/_scripts.ejs") %>
<!-- Page Specific JavaScript -->
<script src="../js/pages/mainPages/latest.js"></script>
