<!-- Header Partial -->
<%- include("partials/_header.ejs", { title: "Team Page", pageStyle: "team" })
%>

<!-- HTML page content -->
<div class="team-container">
  <p>Team Page</p>
</div>

<!-- Common Scripts Import -->
<%- include("partials/_scripts.ejs") %>
