<%- include("partials/header.ejs", { title: "Tickets and Hospitality Page",
pageStyle: "tickets&hospitality" }) %>

<!-- HTML page content -->
<div class="tickets-container">
  <p>Tickets and Hospitality Page</p>
</div>
<!-- JavaScript Imports -->
<script src="../js/common.js"></script>
<script src="../js/distribution.js"></script>
<script src="../js/utilities.js"></script>
<script src="../js/pages/mainPages/ticketAndHospitality.js"></script>
