<%- include("partials/header.ejs", { title: "Tickets and Hospitality Page",
pageStyle: "ticket&hospitality" }) %>

<!-- HTML page content -->
<p>Tickets and Hospitality Page</p>
<!-- JavaScript Imports -->
<script src="../js/common.js"></script>
<script src="../js/distribution.js"></script>
<script src="../js/utilities.js"></script>
<script src="../js/pages/mainPages/ticketAndHospitality.js"></script>
