<!-- Header Partial -->
<%- include("partials/_header.ejs", { title: "Tickets and Hospitality Page",
pageStyle: "tickets-hospitality", pageStylePath: "main" }) %>

<!-- HTML page content -->
<div class="tickets-container">
  <p>Tickets and Hospitality Page</p>
</div>
<!-- Common Scripts Import -->
<%- include("partials/_scripts.ejs") %>
<!-- Page Specific JavaScript -->
<script src="../js/pages/mainPages/ticketAndHospitality.js"></script>
