<!-- Header Partial -->
<%- include("../../partials/_header.ejs", { title: "Discover Page", pageStyle:
"discover", pageStylePath: "secondary" }) %>

<!-- HTML page content -->
<div class="discover-container">
  <p>Discover Page</p>
</div>
<!-- JavaScript Imports -->
<script src="../js/common.js"></script>
<script src="../js/distribution.js"></script>
<script src="../js/utilities.js"></script>
