<!-- Header Partial -->
<%- include("../../partials/_header.ejs", { title: "Discover Page", pageStyle:
"discover", pageStylePath: "secondary" }) %>

<!-- HTML page content -->
<div class="discover-container">
  <p>Discover Page</p>
</div>

<!-- Common Scripts Import -->
<%- include("../../partials/_scripts.ejs", { scriptsPath: "secondary" }) %>
