<!-- Header Partial -->
<%- include("../../partials/_header.ejs", { title: "News Page", pageStyle:
"news", pageStylePath: "secondary" }) %>

<!-- HTML page content -->
<p>News Page</p>
<!-- JavaScript Imports -->
<script src="../js/common.js"></script>
<script src="../js/distribution.js"></script>
<script src="../js/utilities.js"></script>
<script src="../js/pages/secondaryPages/news.js"></script>
