.first-navbar__container {
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns:
    [full-start] 10vw
    [content-start] minmax(6rem, 1fr)
    [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end])
    [center-end] minmax(6rem, 1fr)
    [content-end] 10vw
    [full-end];
  background-color: var(--light-grey);
  border-bottom: 1px solid var(--medium-grey);
}

.first-navbar__container .first-navbar__content {
  grid-column: col-start 7 / content-end;
  margin: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.first-navbar__image {
  width: 4rem;
  display: block;
  cursor: pointer;
}
